<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="add-days.css">
  <link rel="icon" type="image/png" href="https://cdn.glitch.global/8de4236d-ba37-4a2a-8722-55c426c37a80/mike.png?v=1699444686909"/>
    <title>Adicionar dias</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar close" id="sidebar">
        <a href="#" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>MIKE</span>iOS</div>
        </a>
        <ul class="side-menu">
            <li><a href="/dashboard"><i class='bx bx-arrow-back'></i>Voltar</a></li>
            <li><a href="/register"><i class='bx bx-user-plus'></i>Registrar Usuário</a></li>
            <li><a href="/remove"><i class='bx bx-user-minus'></i>Remover Usuário</a></li>
            <li><a href="/reset"><i class='bx bx-reset'></i>Resetar Usuário</a></li>
            <li class="active"><a href="/add-days"><i class='bx bx-calendar-plus'></i>Adicionar dias</a></li>
            <li><a href="/users"><i class='bx bx-group'></i>Ver Usuários</a></li>
          <% if (user.vendedor_nome === 'adm') { %>
            <li><a href="/add-admins"><i class='bx bx-user-check'></i>Adicionar Admins</a></li>
            <li><a href="/credits"><i class='bx bx-coin-stack'></i>Adicionar Créditos</a></li>
            <li><a href="/admins"><i class='bx bx-user'></i>Ver Admins</a></li>
            <% } %>


        <ul class="side-menu">
            <li>




            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    
                    <button style="display: none;"><i></i></button>

                </div>
            </form>
            <a href="" class="profile">
                <img src="https://cdn.glitch.global/8de4236d-ba37-4a2a-8722-55c426c37a80/mike%20(1).png?v=1699444799931">
              <span id="username"><%= username %></span>
            </a>
        </nav>

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Adicionar dias</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Adicionar dias iOS
                            </a></li>
                        /
                        <li><a href="#" class="active">Geral</a></li>
                    </ul>
                </div>
            </div>

              <div class="bottom-data">
    <div class="orders">
        <div class="header">
            <i class='bx bx-calendar-plus'></i>
            <h3>Adicionar dias</h3>
        </div>
        
        <!-- Seu formulário aqui -->
<!-- Seu formulário aqui -->
<form method="post" action="/add-days" class="tight-form">
    <div class="form-group">
        <label for="username">Nome de Usuário:</label>
        <input type="text" id="username" name="username" class="input-text" required>
    </div>

    <div class="form-group">
        <label for="daysToAdd">Dias a Adicionar:</label>
        <!-- Use um elemento select para escolher 15, 30 ou 365 dias -->
        <select id="daysToAdd" name="daysToAdd" required>
            <option value="15">15 dias</option>
            <option value="30">30 dias</option>
            <option value="365">1 ano</option>
            <option value="3650">Permanente</option> <!-- Adicione a opção de 1 Ano -->
        </select>
    </div>

    <div class="button-container">
        <input type="submit" value="Adicionar dias">
    </div>
</form>
    </div>
</div>
         
                  <!-- Insights -->
            <ul class="insights">
                <li>
                    <i class='bx bx-coin-stack'></i>
                    <span class="info">
                        <h3>
                            <span id="creditsAmount"><%= creditsAmount %></span>
                        </h3>
                        <p>Créditos</p>
                    </span>
                </li>
                </li>
                </li>
                    </span>
                </li>
            </ul>
            <!-- End of Insights -->
      
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
          <script src="add-days.js"></script>

</body>
</html>
      
      
      
  